@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
html,
body,
#root,
#root > div {
  min-height: 100vh;
}

body {
  min-width: 100vw;
  margin: 0 auto;
  background-image: url('../images/VenueWiz\ Website.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

.Categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Categories h1 {
  margin-bottom: 40px;
  font-size: 3em;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
}

.category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.category-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  text-decoration: none;
  color: black;
}

.category-card:hover {
  transform: scale(1.05);
}

.img-wrapper {
  padding: 20px;
}

.img-wrapper img {
  max-width: 70%;
}

.info-wrapper {
  padding: 10px;
  font-size: 1.2em;
  color: #000000;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #5271ff;
}

.title {
  font-family: 'Arimo', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  color: black;
  text-align: center;
  margin: 0;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  font-optical-sizing: auto;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
  transition: color 0.3s;
}

.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links a.active {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.main {
  min-width: 100vw;
  height: 100%;
  overflow-y: scroll;
}
.container {
  display: flex;
  align-items: center;
}

.left-img {
  margin-right: 20px;
  width: 65%;
  display: flex;
  justify-content: center;
}

.left-img img {
  max-width: 60%;
  height: auto;
}

.right-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.right-title h1 {
  margin: 0;
  font-size: 4em;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.right-title h4 {
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
  color: #000000;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
}

.container-about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 40px;
}

.left-about {
  flex: 1;
  margin-left: 80px;
}

.right-about {
  flex: 1;
}

.left-about h1 {
  margin: 0 0 40px 0;
  font-size: 4em;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
}

.left-about h4 {
  margin: 0;
  font-size: 1.2em;

  color: #000000;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  width: 75%;
  line-height: 30px;
}

.right-about img {
  max-width: 85%;
}
.Venues {
  text-align: center;
  padding: 20px;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.venue-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.venue-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-decoration: none;
  background-color: #fff;
}

.venue-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.venue-info-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.venue-info-wrapper h2 {
  margin: 0;
  font-size: 1.5em;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: black;
}

.venue-img-wrapper {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.venue-img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.venue h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.venue-card-detail {
  background-color: #ecedf1;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #5271ff;
  width: 80%;
  max-width: 1200px;
}

.venue-img-wrapper-detail {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.venue-img-wrapper-detail img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.venue-info-wrapper-detail {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}

.venue-info-wrapper-detail h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
}

.venue-info-wrapper-detail h3 {
  font-size: 1em;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

.venue-info-wrapper-detail ul {
  list-style-type: none;
  padding: 0;
}

.venue-info-wrapper-detail li {
  margin-bottom: 5px;
}

.venue-info-wrapper-detail a {
  color: #0f0f0f;
  text-decoration: none;
}

.venue-info-wrapper-detail a:hover {
  text-decoration: underline;
}

.venue-info-wrapper-detail button {
  background-color: #5271ff;
  color: #080808;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1em;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
}

.venue-info-wrapper-detail button:hover {
  background-color: #3252e0;
}
.col {
  margin: 30px;
}

.card-overlay {
  background-color: #fdfdff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #000000;
  font-family: 'Arimo', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

.centered h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.form-wrapper {
  width: 100%;
  max-width: 600px;
}

.input-wrapper {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  margin-bottom: 5px;
  font-size: 1.5em;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
}

.input-wrapper input,
.input-wrapper select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2em;
  color: #000;
}

button {
  background-color: #5271ff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 50%;
}

button:disabled {
  background-color: #aaa;
}
