body {
  margin: 0;
}

.Categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.Categories h1 {
  margin-bottom: 40px;
}

.category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.category-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  text-decoration: none;
  color: black;
}

.category-card:hover {
  transform: scale(1.05);
}

.img-wrapper {
  padding: 20px;
}

.img-wrapper img {
  max-width: 70%;
}

.info-wrapper {
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.title {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  color: black;
  text-align: center;
  margin: 0;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  font-optical-sizing: auto;
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
  transition: color 0.3s;
}

.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links a.active {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}
