html, body, #root, #root>div {
  min-height: 100vh
}

body {
  min-width: 100vw;
  margin: 0 auto;
  background-image: url('../images/VenueWiz\ Website.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

.Categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.Categories h1 {
  margin-bottom: 40px;
}

.category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.category-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  text-decoration: none;
  color: black;
}

.category-card:hover {
  transform: scale(1.05);
}

.img-wrapper {
  padding: 20px;
}

.img-wrapper img {
  max-width: 70%;
}

.info-wrapper {
  padding: 10px;
}
/* General styles for the Nav component */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #5271FF;
}

/* Styles for the title */
.title {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 0;
}

/* Styles for the navigation links */
.nav-links a {
  text-decoration: none; /* Remove underline */
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #555;
  transition: color 0.3s;
}
/* Container for navigation links */
.nav-links {
  display: flex;
  gap: 15px; /* Spacing between links */
}
.nav-links a.active {
  font-weight: bold;
  color: black; /* Active link color */
  text-decoration: underline;
}

.main {
  min-width: 100vw;
  height: 100%;
  overflow-y: scroll;
}